body {
    background-color: #000000;
}

h1 {
    background-color: #00DFFF;
}

.first {
    background-color: #4B797F;
}

h2 {
    background-color: #1ACCA5;
}

.second {
    background-color: #5B7F77;
}

ul {
    background-color: #FFFFFF;
}